* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.nav-item {
    margin: 5px;
}

.nav-link {
    font-size: 110%;
    color: rgba(219, 24, 116, 1);
}

h1 {
    -webkit-text-stroke: 1px rgba(219, 24, 116, 1);
    text-shadow: black 3px 3px 4px;
}

.false-carousel {
    height: 20vh;
    width: 100%;
    background: linear-gradient(0deg, rgba(219, 24, 116, 1) 0%, rgba(244, 183, 212, 1) 35%, rgba(248, 249, 250, 1) 100%);
}

.previous-next {
    font-size: 300%;
    text-decoration: none;
    color: black;
}

div label {
    font-size: 80%;
}

.cards {
    width: 80%;
    height: 60vh;
    padding: 5px;

}

.card-title {
    font-weight: bold;
    text-align: center;
}

.card-text {
    font-size: 80%;
}

.card-footer p {
    font-style: italic;
    font-size: 80%;
    padding-top: 15px;
}

footer {
    height: 6.3vh;
    background-color: #fffcec;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid black;
}

footer p {
    font-weight: bold;
    margin-top: 2vh;
    margin-right: 10vw;

}

.social {
    margin-top: 1vh;
    margin-left: 4vw;
    gap: 15px;
    display: flex;
    justify-content: space-between;
}

/* Contact */

#contact {
    height: 60.7vh;
    margin-top: 5vh;
}

.contact-form {
    max-width: 800px;
    width: 50%;
    margin: 0 auto;
    font-size: 120%;
    font-style: oblique;
}

/* Stats */

.table-container {
    margin: 0 auto;
    margin-top: 5vh;
    margin-bottom: 7.5vh;
    width: 60%;
}

/* Detail */

.detail-container {
    margin: 0 auto;
    width: 70%;
    margin-top: 20vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-style: groove;

}

.detail-image {
    margin: 2vh;
    border-style: groove;
}

.detail-description {
    margin: 2vh;
    width: 29vw;
    height: 19vh;
    border-style: groove;
    text-align: center;
}

/* Ghost heading */

h6 {
    display: none;
}